
#output {

background: white;

border-top: 10px solid khaki;
padding: 10x;
float: none;
text-align: center;
border-top: 10px;
}

body {
    text-align: center;
    background-color: aquamarine;
}